name: Deploy FastAPI Backend

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Upload backend code to VM
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: azureuser
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "./*"
          target: "/home/azureuser/app/backend/"
          overwrite: true

      - name: Restart FastAPI with systemd
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SSH_HOST }}
          username: azureuser
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            sudo systemctl daemon-reload
            sudo systemctl restart fastapi
            sudo systemctl status fastapi --no-pager
